{{set . "title" "Run"}}
{{template "header.html" .}}

<h1>Run {{.run.ID}} of {{.programName}}</h1>

<div id="graph"></div>

<script>
	$(document).ready(function() {
		var flags,
			series = [],
			loaded = 0,
			names = [{{range $index, $r := .run.Metrics}}{{if ne $index 0}}, {{end}}{{$r.Name}}{{end}}];

		$.getJSON('/program/{{.programName}}/run/{{.run.ID}}/tags', function(data) {
			flags = data;

			loaded++;
		});

		$.each(names, function(i, name) {
			var url = '/program/{{.programName}}/run/{{.run.ID}}/metric/' + name;

			$.getJSON(url, function(data) {
				series[i] = {
					name: name,
					data: data,
					dataGrouping: {
						enabled: true,
					},
					url: url,
					yAxis: i,
				};

				if (++loaded == names.length + 1) {
					createCombinedMultiChart('graph', series, { flags: flags });
				}
			});
		});
	});
</script>

{{template "footer.html" .}}
