{{set . "title" "Run"}}
{{template "header.html" .}}

<h1>Run {{.run.Id}} of {{.programName}}</h1>

<div id="graph"></div>

<script>
	$(document).ready(function() {
		var series = [],
			loaded = 0,
			names = [{{range $index, $r := .run.Metrics}}{{if ne $index 0}}, {{end}}{{$r.Name}}{{end}}];

		$.each(names, function(i, name) {
			var url = '/program/{{.programName}}/run/{{.run.Id}}/metric/' + name;

			$.getJSON(url, function(data) {
				series[i] = {
					name: name,
					data: data,
					dataGrouping: {
						enabled: true,
					},
					url: url,
					yAxis: i,
				};

				if (++loaded == names.length) {
					createCombinedMultiChart('graph', series);
				}
			});
		});
	});
</script>

{{template "footer.html" .}}
